@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Message</h3>

<p>Meu Nome é Charles, tenho 24 anos moro a 20 anos em Brasilía, tenho
    venho sepre buscando aprender mais sobre tecnologia, sou apaxonado por programação, tenho total iteresse em fazer parte do quadro de funcionários da empresan contribuindo com as
    minhas habilidades, responsabilidades, conhecimentos técnicos e compromisso para somar com o bom desempenho da mesma.</p>
