@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>

<address>
   Charles Marques Rodrigues<br />
    Telefone: 61 95656130<br />
   
</address>

<address>
    <strong>E-mail:</strong>   <a>
                                   <img src="~/Img/Logo_Microsoft_Outlook_2013.png" width="50" height="50" /></a><br />
    <strong>linkedin:</strong> <a href="https://www.linkedin.com/in/charles-marques-55087985?trk=nav_responsive_tab_profile_pic">
                                   <img src="~/Img/Linkedin-icon.png" width="50" height="50"/></a>
</address>