@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>cadastro de Cliente</h1>
    <p class="lead">Faça seu cadastro agora!</p>
    <p><a href="~/Clientes/Create" class="btn btn-primary btn-lg">Cadastro&raquo;</a></p>
</div>
